@use "../abstracts/variables" as *;
@use "../abstracts/mediaQueries" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($clr-neutral-100, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow-400;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 9999999;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  @include md {
    padding: 1rem 2rem;
  }
  .logo {
    width: 204px;
    height: auto;

    @include md {
      width: 217px;
      max-height: 75px;
    }
  }

  .nav-list {
    display: none;
    list-style: none;
    gap: 0.5rem;
    padding: 0;

    @media (min-width: 800px) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    li {
      a {
        text-decoration: none;
        color: $clr-neutral-900;

        &:hover {
          color: $clr-primary-400;
        }
      }
    }
  }

  .nav-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding: 2rem;
    padding-block: 2rem;
    gap: 1rem;
    left: 0;
    right: 0;
    top: 5.1rem;
    background-color: $clr-neutral-100;
    width: 100%;

    li {
      width: 100%;

      a {
        display: block;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
