@use "../abstracts/variables" as *;

.application-card {
  border-radius: 1rem;
  padding: 1rem;
  max-width: 20rem;
  box-shadow: $box-shadow-400;
  display: grid;
  gap: 1rem;
  .card-content {
    display: grid;
    gap: 0.5rem;
  }
}
